@charset "EUC-KR";

.mainLogo > a > img {
	float: left;
	max-width: 600px;
	max-height:90px;
	width: auto;
	height: auto;
/* 	background-size: cover; */
	background-color: transparent;
	margin-left: 0.75em;
	z-index: 999999999999999;
/* 	margin-top: 3px; */
}
.loginPart {
	position: relative;
	float: right;
/* 	margin-right: 15em; */
	margin-top: 2em;
	margin-right: 1em;
}

.loginPart > a {
	text-decoration: none;
	font-size: 14px;
	position: relative;
}

hr {
	clear: both;
	border: 0.75em solid #FF1818;
	
}
.btn {
	height: 40px;
	font-size: 19px;
	border: none;
	border-radius: 10px;
}

.btn:hover {
	background-color: #a3a1a1;
    color: #e3dede;
    transform: scale(1.1);
    cursor: pointer;
}

form {
	position: relative;
	left: 600px;
	top: 50px;
}
.dv {
	width:600px;
}

.dv input {
	font-size: 1.5em;
	border-color: none;
	border:none;
	border-bottom: 1px solid #ccc;
	width: 500px;
}

.dv input:focus {
	outline-style: none; 
	border-bottom: 2px solid red;
}